body {
  background-color: rgb(252, 239, 220);

  margin: 10px;
}
header nav {
  border-bottom: 3px solid #ccc;
  position: relative;
}
header nav ul {
  position: absolute;
  left: 10%;
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  text-align: center;
}
header nav ul li {
  display: table-cell;
  min-width: 50px;
}
header nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  text-decoration: none;
  color: #aaa;
}
header nav ul li.current {
  font-weight: bold;
  border-top: 5px solid #00b0f0;
}
header nav ul li.current a {
  color: #00b0f0;
}
header nav ul li a:hover {
  color: #0089bb;
  background-color: #fbfbdd;
}
header nav ul li:hover {
  border-top: 5px solid #f8e750;
}

body > div {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 70px;
  font-size: 30px;
  font-weight: bold;
  background-color: khaki;
  text-align: center;
  margin-bottom: 5px;
}
p {
  background-color: lightgray;
  width: 200px;
  text-align: center;
}
section {
  display: flex;
  margin: 0;
  padding: 0;
}
section ul {
  list-style: none;
  width: 20%;
  font-weight: bold;
  padding: 10px;
}
section ul li {
  text-align: center;
  background-color: white;
  margin-bottom: 4px;
  border: 2px solid black;
}

@media screen and (max-width: 800px) {
  li {
    font-size: 5px;
  }
}
